<tr>
  <td><%= city_tax_code.city_id %></td>
  <td><%= city_tax_code.city_tax_code %></td>
  <td><%= city_tax_code.tax_code_id %></td>
  <td><%= city_tax_code.aliquot %></td>
  <td><%= l city_tax_code.since, format: :year_month %></td>
  <td><%= city_tax_code.expiry %></td>
  <td><%= link_to t('.edit'), edit_city_tax_code_path(city_tax_code) %></td>
  <td><%= link_to t('.destroy'), city_tax_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
