<h1><%= t '.title' %></h1>

<%= link_to t('.download.csv'), abrasf_desif.tax_codes_path(format: :csv) %>
<table>
  <thead>
    <tr>
      <th><%= t '.code' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.service_item' %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'tax_code', collection: @tax_codes %>
  </tbody>
</table>
