<h3><%= t '.title' %></h3>

<table>
  <thead>
    <tr>
      <th><%= t '.code' %></th>
      <th><%= t '.name' %></th>
      <th><%= t '.federative_unit' %></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: @cities %>
  </tbody>
</table>
